.main-container {
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 550px;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 100px;
    background-image: url(https://res.cloudinary.com/dembmmjyq/image/upload/v1677262401/two-big-bouncers-standing-outside-the-entrance-to-the-night-club-illustration-vector_ptdroh.jpg);
    background-repeat: no-repeat;
    background-size: 600px 530px;
}

.title {
  text-align: center;
  color: rgb(241, 229, 48);
  text-shadow: 1px 1px 2px rgb(10, 10, 10);
  font-size: 40px;

}

h2 {
    text-align: center;
    line-height: 1px;
    color: white;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.name {
    height: 33px;
    padding: 0 10px;
    color: #000;
    border: 1px solid #6303e0;
    border-radius: 10px;
}

    .button {
        width: 80px;
        border: 1px solid #030303;
        background-color: red;
        color: white;
        padding: 10px;
        cursor: pointer;
        font-size: 15px;
        border-radius: 4px;
      }
      
      .button:hover {
        background-color: #ac0404;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), inset 0 0 2px rgba(0, 0, 0, 0.05);
        transition: all 0.07s ease-in-out;
      }

.welcome-message {
    display: flex;
    justify-content: center;
    font-size: 30px;
    color: rgb(190, 241, 248);
}

.php-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    height: 100px;
}